<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase" />
  </configSections>

  <sqlDatabase>
    <mysql getCurrentVersion="SELECT version FROM version WHERE module_name = '{{ModuleName}}'"
           setCurrentVersion="UPDATE version SET version='{{TargetVersion}}' WHERE module_name = '{{ModuleName}}'" />
  </sqlDatabase>
</configuration>