<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SqlDatabase rules" Description="No description" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
	<!-- XML comment analysis is disabled due to project configuration -->
    <Rule Id="SA0001" Action="None" />

    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1309" Action="None" />
	
	<!-- Use trailing comma in multi-line initializers -->
    <Rule Id="SA1413" Action="None" />

	<!-- Elements should be documented -->
    <Rule Id="SA1600" Action="None" />
	
	<!-- Partial elements should be documented -->
    <Rule Id="SA1601" Action="None" />
	
	<!-- Enumeration items should be documented -->
    <Rule Id="SA1602" Action="None" />

    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>