<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase"/>
  </configSections>

  <sqlDatabase>
    <variables>
      <add name="ConfigurationManagerTest"
           value="LoadFromCurrentConfiguration" />
    </variables>
  </sqlDatabase>
</configuration>