<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase"/>
  </configSections>

  <connectionStrings>
    <!-- see Docker\docker-compose.yml -->
    <add name="test"
         connectionString="Data Source=.;Initial Catalog=SqlDatabaseTest;User Id=sa;Password=P@ssw0rd;" />
  </connectionStrings>

  <sqlDatabase>
    <variables>
      <add name="ConfigurationManagerTest"
           value="LoadFromCurrentConfiguration" />
    </variables>
  </sqlDatabase>

  <appSettings>
    <add key="IntegrationTestsScriptsLocation"
         value="..\..\..\IntegrationTests" />
  </appSettings>
</configuration>