<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase"/>
  </configSections>

  <!--
  default getCurrentVersion: SELECT value from sys.fn_listextendedproperty('version', default, default, default, default, default, default)
  default setCurrentVersion: EXEC sys.sp_updateextendedproperty @name=N'version', @value=N'{{TargetVersion}}'
  -->
  <sqlDatabase getCurrentVersion="SELECT Version FROM info.Version"
               setCurrentVersion="UPDATE info.Version SET Version='{{TargetVersion}}'">
               
    <assemblyScript className="SqlDatabaseScript"
                    methodName="Execute" />
                    
    <variables>
      <add name="Variable1"
           value="value1" />
      <add name="Variable2"
           value="value 2" />
    </variables>
  </sqlDatabase>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>