<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase" />
  </configSections>

  <sqlDatabase>
    <mssql getCurrentVersion="SELECT value from sys.fn_listextendedproperty('version-{{ModuleName}}', default, default, default, default, default, default)"
           setCurrentVersion="EXEC sys.sp_updateextendedproperty @name=N'version-{{ModuleName}}', @value=N'{{TargetVersion}}'" />
  </sqlDatabase>
</configuration>