<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase" />
  </configSections>

  <sqlDatabase>
    <pgsql getCurrentVersion="SELECT version FROM public.version WHERE module_name = '{{ModuleName}}'"
           setCurrentVersion="UPDATE public.version SET version='{{TargetVersion}}' WHERE module_name = '{{ModuleName}}'" />
  </sqlDatabase>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>