<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase"/>
  </configSections>

  <!--
  full configuration example
  <sqlDatabase>

    default class and method name of assembly scripts
    <assemblyScript className="SqlDatabaseScript"
                    methodName="Execute" />

    variables applicable for mssql and pgsql, by default is empty
    <variables>
      <add name="GlobalVariable1"
           value="value1" />
      <add name="GlobalVariable2"
           value="value 2" />
    </variables>

    mssql configuration:
    - default scripts to read and update database version
    - few predefined variables, applicable only for mssql, by defult is empty
    <mssql getCurrentVersion="SELECT value from sys.fn_listextendedproperty('version', default, default, default, default, default, default)"
           setCurrentVersion="EXEC sys.sp_updateextendedproperty @name=N'version', @value=N'{{TargetVersion}}'">
      <variables>
        <add name="MsSqlVariable1"
             value="value1" />
        <add name="MsSqllVariable2"
             value="value 2" />
      </variables>
    </mssql>

    pgsql configuration:
    - default scripts to read and update database version
    - few predefined variables, applicable only for pgsql, by defult is empty
    <pgsql getCurrentVersion="SELECT version FROM public.version WHERE module_name = 'database'"
           setCurrentVersion="UPDATE public.version SET version='{{TargetVersion}}' WHERE module_name = 'database'">
      <variables>
        <add name="PgSqlVariable1"
             value="value1" />
        <add name="PgSqllVariable2"
             value="value 2" />
      </variables>
    </pgsql>
  </sqlDatabase>
  -->

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>