<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase"/>
  </configSections>

  <!--
  full configuration with
    - default scripts to read and update database version
    - default class and method name of assembly scripts
    - few predefined variables
  
  <sqlDatabase getCurrentVersion="SELECT value from sys.fn_listextendedproperty('version', default, default, default, default, default, default)"
               setCurrentVersion="EXEC sys.sp_updateextendedproperty @name=N'version', @value=N'{{TargetVersion}}'">
               
    <assemblyScript className="SqlDatabaseScript"
                    methodName="Execute" />
                    
    <variables>
      <add name="Variable1"
           value="value1" />
      <add name="Variable2"
           value="value 2" />
    </variables>
  </sqlDatabase>
  -->

  <!--
  scripts example to read and update database version
  
  <sqlDatabase getCurrentVersion="SELECT Version FROM dbo.Version"
               setCurrentVersion="UPDATE dbo.Version SET Version='{{TargetVersion}}'"/>
  -->

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>