<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sqlDatabase"
             type="SqlDatabase.Configuration.AppConfiguration, SqlDatabase"/>
  </configSections>

  <!--
  default scripts to read and update database version
  
  <sqlDatabase getCurrentVersion="SELECT value from sys.fn_listextendedproperty('version', default, default, default, default, default, default)"
               setCurrentVersion="EXEC sys.sp_updateextendedproperty @name=N'version', @value=N'{{TargetVersion}}''"/>
  -->

  <!--
  scripts example to read and update database version
  
  <sqlDatabase getCurrentVersion="SELECT Version FROM info.Version"
               setCurrentVersion="UPDATE info.Version SET Version='{{TargetVersion}}'"/>
  -->

               <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>